/* =============== Common CSS =========================================== */
.font-work{
    font-family: 'Work Sans', sans-serif;
}

.font-pop{
    font-family: 'Poppins', sans-serif;
}

.weight-l{
    font-weight: 300;
}

.weight-r{
    font-weight: 400;
}

.weight-m{
    font-weight: 500;
}

.weight-sb{
    font-weight: 600;
}

.font_size-12{
    font-size: 12px;
    line-height: 16px;
}

.font_size-14{
    font-size: 14px;
    line-height: 20px;
}

.font_size-16{
    font-size: 16px;
    line-height: 24px;
}

.font_size-20{
    font-size: 20px;
    line-height: 24px;
}

.font_size-24{
    font-size: 24px;
    line-height: 24px;
}

.font_size-32{
    font-size: 32px;
    line-height: 40px;
}

.font_size-38{
    font-size: 38px;
    line-height: 50px;
}

.font_size-48{
    font-size: 48px;
    line-height: 56;
}

.font_size-72{
    font-size: 72px;
    line-height: 84px;
}

.primary-color{
    background-color: #A53DFF;
}

ul,
li{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.custom-btn{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 12px 24px;
}

.custom-btn a{
    color: #fff;
}
/* ======================================================================================== */

/* =============== Navbar CSS =========================================== */
nav{
    top: 20px;
}

nav ul li{
    padding: 12px 24px;
}

nav ul li a{
    color: #333;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

nav ul li a:hover{
    color:#A53DFF !important;
}